* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    background-color: #333;
    
}

a{
    text-decoration: none;
}
/*Navigation Bar */
header{
    position: fixed;
    top:0;
    width:100%;
    height:100px;
    background-color: #000;   
    border-bottom: 1px solid white;
}



.container{
    display:flex;
    align-items: center;
    width:80%;
    margin: 0 auto;
    height:100%;
    overflow: hidden;
    
}



.container .logo{
    float:left;
    display: inline-block;
    border-bottom:1px solid white;
    height:100%;
}


.search-cont{
    margin-left: 50px;
    display:inline-block;
    margin:0 auto;
    width:300px;
    border:1px solid white;
    border-radius: 30px;
    padding:5px;
    
}

.search{
    font-size: 16px;
    border:none;
    outline:none;
    background-color: black;
    color:#fff;
    margin-left:10px;   
}

::placeholder{
    color:#bbb;
    font-family:'roboto';
    font-size: 16px;
}

input:focus::placeholder {
    color: transparent; 
  }

.search-cont i{
    float:right;
    color:#fff;
    margin-right:10px;
    font-size: 16px;
    margin-top:1px;    
}

nav{
    text-transform: uppercase;   
}

nav ul{
    list-style-type: none;
    display: inline-block;  
}

nav ul li{
    display:inline-block;
    width:140px;
    text-align: center;
    line-height:100px;
}

nav ul li:hover{
    background-color: #fff;
    border-bottom: 2px solid #0DBEC5


    ;  
}

nav a{
    display:inline-block;
    color:#fff;
    width:100%;
    height:100px;
    font-size: 24;
    font-weight: 500;  
}

nav a:hover{
    color:black;   
}

.acc{
    text-transform: uppercase;
    display:inline-block;
    height:100%;
    width:100px;   
    float:right;
}

.acc:hover{
    background-color: #fff;
}

.acc a{
    display:inline-block;
    color:#fff;
    width:100%;
    height:100px;
    font-size: 22;
    font-weight: 500;   
    text-align: center;
    line-height: 100px;
}

.acc a:hover{
    color:black;
    border-bottom:2px solid #0DBEC5
    ;
}

.acc a i{
    text-align: center;
    font-size: 24px;
    margin-left: 5px;
}

/*Navigation Bar */

/*Main site content */

article{
    margin:0 auto;
    width:80%;
    height:100vh;
}

.banner{
    margin-top:140px;
    text-align: center;
}

.banner img{
    border:2px solid white;
    width:100%;
}

.category{
    text-align: center;
    align-items: center;
    margin-top: 10px;
    height:600px;
}

.kawa{
    float:left;
    display:inline-block;
    width:30%;
    margin-right:20px;

}

.kawa img{
    height:100%;
    width:100%;
}

.mlynki{
    display: inline-block;
    width:30%;
    
    
}

.mlynki img{
    height:100%;
    width:100%
}

.alternatywy{
    float:right;
    display:inline-block;
    width:30%; 
    margin-left: 20px; 
    
}

.alternatywy img{
    width:460.8px;
    height:281.73px;
}
