/* Rubik:ital,wght@0,400;0,500;0,700;1,400;1,700 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  font-weight: 500;
  background-color: #333;
}

a {
  text-decoration: none;
}

/*Navigation Bar */
header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #000;
  border-bottom: 1px solid white;
  background-color: #000;
  font-family: 'Rubik';
  font-weight: bold;
  font-style: italic;
  z-index: 5;
}

.container {

  display: flex;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  height: 10vh;

}

.container .logo {
  display: inline-block;
  height: 100%;
}

.search-cont {
  margin-left: 50px;
  display: inline-block;
  margin: 0 auto;
  width: 300px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 5px;
}

.search {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  color: white;
}

::placeholder {
  color: #eee;
  font-family: "roboto";
  font-size: 16px;
}

input:focus::placeholder {
  color: transparent;
}

.search-cont i {
  float: right;
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
  margin-top: 1px;
}

nav {
  text-transform: uppercase;
}



nav ul {
  font-size: 0;
}

nav ul li {
  display: inline-block;
  width: 140px;
  text-align: center;
  line-height: 100px;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.3s;
  font-size: 16px;
}

nav ul li:hover {
  box-shadow: inset 300px 0 0 0 #fff;
  max-height: 100px;

}

nav a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 24;
  font-weight: 500;
  transition: ease-out 0.3s;

}

nav a:hover {
  color: black;
}



.acc {
  text-transform: uppercase;
  display: inline-block;

  width: 140px;


}


.acc a {
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 100px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 100px;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-out 0.3s;

}

.acc a:hover {
  color: black;
  box-shadow: inset 300px 0 0 0 #fff;
}

.acc a i {
  text-align: center;
  font-size: 20px;
  margin-left: 5px;
}

/*Navigation Bar */

/*Main site content */

article {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

.banner {
  margin-top: 140px;
  text-align: center;
}

.banner img {
  border: 2px solid white;
  width: 100%;
}



.offert {
  margin: 10px auto;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  opacity: 0.9;
  border: 2px solid white;
  z-index: 1;

}

.offert h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.category {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: space-between;

}



.category img {
  height: 30vh;
  width: 25vw;

}






.news__main {
  display: flex;
  flex-direction: column;
}


.news__description {
  margin: 180px auto;
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  color: white;
  opacity: 0.9;
  border: 2px solid white;
  z-index: 1;
}



div.news {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


footer {
  height: 100px;
  width: 100%;
  background-color: #000;
}
